.App {
  background-image: var(--app-bg);
}
.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* overflow:hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

h1 {
  --light-pos-x: 1; /* left: -1, center: 0, right: 1 */
  --light-pos-y: -1; /* top: -1, center: 0, bottom: 1 */
  --rim-size: .02ch;
  --shadow-offset: .15ch;
  --shadow-blur: .2ch;
  text-shadow: calc(max(var(--rim-size), 1px)* var(--light-pos-x)) 
  calc(max(var(--rim-size), 1px)* var(--light-pos-y)) hsl(0 0% 100%), 
  calc(max(var(--rim-size), 1px)* var(--light-pos-x)* -1) 
  calc(max(var(--rim-size), 1px)* var(--light-pos-y)* -1) hsl(0deg 1.44% 26.13%), 
  calc(var(--shadow-offset)* var(--light-pos-x)* -1) 
  calc(var(--shadow-offset)* var(--light-pos-y)* -1) var(--shadow-blur) hsl(0deg 0.39% 2% / 75%);
}

/* ===Sidebar=== */
.sidebar {
  width: 320px;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  translate: 320px 0;
  background-image: var(--app-bg);
  /* background: var(--bg-sidebar);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
      10px 10px 70px rgba(0, 0, 0, 0.25),
      inset 5px 5px 10px rgba(0, 0, 0, 0.5),
      inset 5px 5px 20px rgba(255, 255, 255, 0.2),
      inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  transition: var(--transition-1);
  z-index: 100;
}

.sidebar.open {
  translate: 0;
}

.manage_location_btn {
  color: var(--c-light-md);
  background: var(--c-light-transparent-sm);
  border: none;
  transition: var(--transition-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.manage_location_btn:hover {
  transform: translateY(-2px);
  color: var(--c-light);
  background: var(--c-light-transparent-md);
  text-shadow: var(--text-shadow);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.manage_location_input {
  color: var(--c-light);
  background: var(--c-light-transparent-sm);
}
.manage_location_input:focus {
  color: var(--c-light);
  background: var(--c-light-transparent-lg);
}

.btn_group .s_ico {
  padding: var(--l-sm2);
  border-radius: var(--l-sm1);
  color: var(--c-light-md);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.btn_group .s_ico:hover {
  color: var(--c-coral);
  cursor: pointer;
}
.btn_group button .s_ico {
  filter: var(--img-shadow-1);
}
.btn_group button:hover {
  color: var(--c-coral);
}

/* ===Sidebar-Toggler=== */
.units_toggler_wrapper small {
  color: var(--c-label-lg);
}
.sidebar_toggler_wrapper {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1.2rem;
  right: .5rem;
  z-index: 110;
  transition: var(--transition-1);
}
.sidebar_toggler_wrapper p {
  color: var(--c-blue-lg);
  text-shadow: var(--text-shadow);
}

.sidebar_toggler_wrapper:hover {
  cursor: pointer;
}
.sidebar_toggler {
  border: none;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform var(--transition-2);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray var(--transition-2), 
              stroke-dashoffset var(--transition-2);
  stroke: var(--c-blue-lg);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

/* ===Units-Toggler=== */
.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch + label {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--c-light-md);
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-35 .switch + label::before,
  .checkbox-wrapper-35 .switch + label::after {
  content: '';
  display: block;
}

.checkbox-wrapper-35 .switch + label::before {
  background-color: var(--c-lilac);
  border-radius: 500px;
  height: 20px;
  margin-right: 8px;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.125s ease-out;
  width: 35px;
}

.checkbox-wrapper-35 .switch + label::after {
  background-color: var(--c-light-md);
  border-radius: 17px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.5),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  height: 17px;
  left: 1px;
  position: absolute;
  top: 1px;
  -webkit-transition: -webkit-transform 0.125s ease-out;
  transition: -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out;
  transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
  width: 17px;
}

.checkbox-wrapper-35 .switch + label .switch-x-text {
  display: block;
  margin-right: .3em;
}

.checkbox-wrapper-35 .switch + label .switch-x-toggletext {
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 25px;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked,
  .checkbox-wrapper-35 .switch + label .switch-x-checked {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.checkbox-wrapper-35 .switch + label .switch-x-checked {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked + label::before {
  background-color: var(--c-yellow);
  box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.329);
}

.checkbox-wrapper-35 .switch:checked + label::after {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}



/* ===Search-Input-Style=== */
.search_box {
  display: flex;
  justify-content: center;
  position: relative;
}

.weatherSun {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  filter: var(--img-shadow-5);
  animation: sun-logo-spin infinite 20s linear;
  transition: var(--transition-2);
}
@keyframes sun-logo-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.input-wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  background-color: var(--c-navy-md);
  box-shadow: 0px 0px 3px var(--c-navy-md);
  padding-right: 40px;
  color: var(--c-light-md);
  box-shadow: var(--box-shadow);
  z-index: 2;
}

.input::placeholder,
.input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #E6E6E6;
  transition: var(--transition-1);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: 0.2s linear;
  z-index: 3;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid var(--c-blue-md);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.icon:focus ~ .weatherSun,
.input:focus ~ .weatherSun {
  scale: 3;
  opacity: 0;
}
.input:focus::placeholder {
  transform: translateY(-12px) translateX(30px);
  color: transparent;
}

/* ======================== */

.weather_svg {
  filter: var(--img-shadow-3);
}
.weather_icon {
  filter: var(--img-shadow-3);
  /* opacity: .7; */
  animation: upAndDown 500ms infinite alternate;
}
@keyframes upAndDown {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(3px);
  }
}

.sunrise {
  color: var(--c-yellow);
}
.sunset {
  color: var(--c-coral);
}
.moonStars {
  font-size: 48px;
}
.pressure_svg {
  filter: var(--img-shadow-3);
}
.pressure_svg_arrow_top {
  animation: move-arrow-1 2s infinite;
}
@keyframes move-arrow-1 {
  0% { transform: translateX(0); }
  50% { transform: translateX(10%); }
  100% { transform: translateX(0); }
}
.pressure_svg_arrow_down {
  animation: move-arrow-2 2s infinite;
  animation-delay: 500ms;
}
@keyframes move-arrow-2 {
  0% { transform: translateX(0); }
  50% { transform: translateX(25%); }
  100% { transform: translateX(0); }
}

.wind_top {
  animation: move-wind-1 2000ms infinite;
}
@keyframes move-wind-1 {
  0% { transform: translateX(0); }
  50% { transform: translateX(5%); }
  100% { transform: translateX(0); }
}
.wind_middle {
  animation: move-wind-2 1500ms infinite;
}
@keyframes move-wind-2 {
  0% { transform: translateX(0); }
  50% { transform: translateX(10%); }
  100% { transform: translateX(0); }
}
.wind_down {
  animation: move-wind-2 1500ms infinite;
}
.glow_cloud {
  filter: var(--img-shadow-6);
}
.glow_sun {
  filter: var(--img-shadow-5);
}
.snow_move_1 {
  animation: upAndDown 350ms infinite alternate;
}
.snow_move_2 {
  animation: upAndDown 400ms infinite alternate;
}
.snow_move_3 {
  animation: upAndDown 450ms infinite alternate;
}
.snow_move_4 {
  animation: upAndDown 500ms infinite alternate;
}

.move_rain_1 {
  animation: rain 350ms infinite alternate;
}
.move_rain_2 {
  animation: rain 400ms infinite alternate;
}
.move_rain_3 {
  animation: rain 450ms infinite alternate;
}

@keyframes rain {
  0% {
      transform: translateY(-240.5px) translateX(-148.09252px);
  }
  100% {
      transform: translateY(-235.5px) translateX(-148.09252px);
  }
}
.move_cloud_sun {
  animation: move_cloud_sun 550ms infinite alternate;
}
@keyframes move_cloud_sun {
  0% {
      transform: translateY(-240.5px) translateX(-148.09252px);
  }
  100% {
      transform: translateY(-239.5px) translateX(-148.09252px);
  }
}

/* ===Footer-Clouds=== */
.clouds {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  width: 100%;
  height: 45vh;
  margin-top: -220px;
  overflow: hidden;
  transform: translateZ(0);
  position: relative;
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  filter: var(--img-shadow-5);
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 80px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 120px;
}

.cloud.big {
  width: 400px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 500px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement  {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1500px);
    -moz-transform: translateX(-1500px);
    transform: translateX(-1500px);
  }
}

@keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1500px);
    -moz-transform: translateX(-1500px);
    transform: translateX(-1500px);
  }
}


@media all and (max-width: 800px) {
  @keyframes cloud-movement {
    0% {
      opacity: 0.1;
      -webkit-transform: translateX(300px);
      -moz-transform: translateX(300px);
      transform: translateX(300px);
    }
    10% {
  
      opacity: 0.4;
    }
    90% {
      opacity: 0.2;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-500px);
      -moz-transform: translateX(-500px);
      transform: translateX(-500px);
    }
  }
}








/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
