@import "~normalize.css/normalize.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* font-family: 'Manrope', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Tilt Neon', sans-serif; */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

:root {
  --size: calc(1vh + 1vw);

  --c-navy: hsl(211deg 80.66% 26.14%);
  --c-navy-md: hsl(217, 80%, 42%);
  --c-blue: hsl(243, 100%, 69%);
  --c-lilac: hsl(260, 95%, 58%);
  --c-blue-lg: hsl(219, 45%, 10%);
  --c-dark: hsl(60, 1%, 19%);
  --c-blue-md: hsl(248, 45%, 54%);
  --c-blue-sm: hsl(242, 51%, 70%);
  --c-label-lg: hsl(210, 11%, 71%);
  --c-grey: hsl(233, 23%, 34%);
  --c-yellow: hsl(43, 100%, 50%);
  --c-light: hsl(0, 0%, 100%);
  --c-light-md: hsl(0, 0%, 90%);

  --l-sm1: .25rem;
  --l-sm2: .375rem;
  --l-sm3: .5rem;
  --l-sm4: .75rem;
  --l-md1: 1rem;
  --l-md2: 1.25rem;
  --l-md3: 1.5rem;
  --l-lg1: 2rem;
  --l-lg2: 3rem;
  --l-lg3: 4rem;

  --img-shadow-1: drop-shadow(1px 2px 3px hsl(0, 0%, 0%));
  --img-shadow-2: drop-shadow(1px 1px 2px hsl(223, 95%, 92%));
  --img-shadow-3: drop-shadow(1px 2px 3px hsl(215, 89%, 29%));
  --img-shadow-4: drop-shadow(1px 2px 1px hsl(0, 5%, 53%));
  --img-shadow-5: drop-shadow(1px 2px 3px hsl(0, 0%, 100%));

  --box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);

  --text-shadow: 0px 4px 3px 
    rgb(0 0 0 / 40%), 0px 8px 13px 
    rgb(0 0 0 / 10%), 0px 18px 23px 
    rgb(0 0 0 / 10%);

  --transition-1: 250ms ease-in-out;
  --transition-2: 500ms ease-in-out;
  --transition-3: 750ms ease-in-out;

  --app-bg: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

/* ---Scrollbar-Style--- */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
  background: #2B4865;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  /* border-radius: 10px; */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}